.navigation-img {
    height: 30px;
}
.custom-nav{
    padding: 2rem 5rem !important;
    margin: 0rem 4rem !important;
}
.custom-search-input{
    width: 450px;
}
.input-box{
    padding: .7rem 1rem !important;
    border-radius: .5rem !important;
}
button{
    border: 1px solid rgba(128, 128, 128, 0.26) !important;
}
.input-box:focus{
    box-shadow: none !important;
    border: 1px solid rgba(128, 128, 128, 0.26) !important;
}


/* Remove unnecessory bootstrap style for toggler */
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
    border: none !important;
    box-shadow: none !important;
}

.filter-sec{
    padding: 0rem 4rem !important;
    /* margin: 0rem 4rem !important; */
}

img{
object-fit: cover;
}


.img-container {
    border-radius: 50%;  
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}
.hotels-container{
    margin: 0rem 5rem !important;
}
.resto-card{
    /* min-width: 128px !important; */
    border-radius: 30px;
    padding: 10px;

}
.resto-card img{
    width: 100%;
   padding-bottom: 10px;
   max-height: 248px;
   object-fit: cover;
   border-radius: 30px;
}
.resto-card .text-section{
    padding-bottom: 10px;
}
.resto-card .text-section *{
    margin: 0 !important;
}

@media (min-width: 576px)and(max-width: 991px) {
    .custom-nav{
        padding: 5rem !important;
    }
    
   
}


@media (max-width: 992px) {
    .custom-search-input {
      width: 100%; 
    }
    .custom-nav{
        padding: 0rem !important;
        margin: 0rem 0rem !important;

    }
    .filter-sec{
        padding: 0rem !important;
        margin: 0rem 0rem !important;
    }
    
  }
@media (min-width: 1200px) {
    .custom-search-input{
        width: 700px;
    }
    .input-box{
        padding: 1rem 2rem !important;
    }
}